@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@300&display=swap');
:root {
    --primary-color: #3D5A80;
    --secondary-color: #98C1D9;
    --accent1-color: #E0FBFC;
    --accent2-color: #EE6C4D;

    --heading-font: "Oswald", sans-serif;
    --paragraph-font: "Roboto", sans-serif;
    --nav-background-color: #3D5A80;
    --nav-link-color: #98C1D9;
    --nav-hover-link-color: #E0FBFC;
    --nav-hover-background-color: #EE6C4D;
}
/* Reset margins and paddings */
body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--nav-background-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header img {
    position: relative;
    margin: 0 auto;
}

nav a {
    margin-right: 10px;
    text-decoration: none;
    color: var(--nav-link-color);
}

main {
    max-width: 840px;
    margin: 0 auto;
    padding: 20px;
}

/* General style for the hero container */
.hero {
    position: relative;
    margin: 1rem auto;
    background-color: #eee;
    padding: 1rem;
    border: 1px solid rgba(0,0,0,.1);
}

/* Style for the image inside .hero */
.hero img {
    display: block;
    width: 100%;
    height: auto;
}

/* Specific style for the image with the class "special-image" inside .hero */
.hero .special-image img {
    width: 60%;
    position: absolute;
    top: -5px;
    left: 260px;
}

/* Style for the h1 title inside .hero */
.hero h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; /* Adjust the text color according to your design */
    font-family: 'Oswald', sans-serif;
    font-size: 2em; /* Adjust the text size according to your design */
    text-align: center;
}

/* Style for the article inside .hero */
.hero article {
    position: absolute;
    top: 40%;
    left: 40%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark background with opacity */
    padding: 20px;
    color: #fff; /* Adjust the text color according to your design */
}

/* Style for the image inside article */
.hero article img {
    float: left;
    margin-right: 10px; /* Space between the image and the paragraph */
}

/* Style for the paragraph inside article */
.hero article p {
    margin: 10px auto;
    position: relative;
    object-fit: cover;
}

/* Add other styles as needed */

h1 {
    color: steelblue;
    display: block;
    padding: 10px;
}

p {
    margin-bottom: 20px;
}

section {
    text-align: center; /* Center content horizontally */
    margin: 1rem auto;
    background-color: #eee;
    padding: 1rem;
    border: 1px solid rgba(0,0,0,.1);
}

section img {
    max-width: 100%; /* Set maximum width to the container */
    height: auto; /* Maintain original aspect ratio */
    margin: 10px; /* Add space around each image */
}

footer {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px;
    text-align: left;
}

.sociallinks a img {
    width: 20px; /* Set the desired width */
    height: 20px; /* Set the desired height */
}


.grid {
    display: grid;
    grid-template-columns: 1fr auto; /* Logo on the left, navigation on the right */
    align-items: center;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 535px 1fr 2fr;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-background-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header img {
    margin-left: 20px; /* Adjust the left margin of the logo as necessary */
}

nav {
    display: flex;
    justify-content: flex-end; /* Align navigation to the right */
}

nav a {
    margin-left: 10px; /* Adjust the left margin of navigation links as needed */
    text-decoration: none;
    color: var(--nav-link-color);
    font-size: 26px;
    padding: 16px;
} 

main {
    display: flex;
    flex-direction: column; /* Place the elements vertically */
    align-items: center; /* Center horizontally on the X axis */
}

section {
    display: flex;
    flex-wrap: wrap; /* Allows images to be wrapped if they don't fit on a line */
    justify-content: space-around; /* Even spacing between images */
    text-align: center;
}

section img {
    flex: 0 0 48%; /* Makes images take up 48% of the container */
    margin: 1%; /* Space between images */
}

footer {
    display: flex;
    justify-content: space-between; /* Even spacing between elements */
    align-items: center; /* Center vertically on the Y axis */
}

.sociallinks a {
    margin-right: 10px;
}

figure .raf {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 520px;
    margin: auto;
  }
  
 .raf img {
    max-width: 520px;
    max-height: auto;
  }
  
 .raf figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
  }